<%= form_with(model: movie, local: true) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :title, value: @title %>
  </div>

  <div class="field">
    <%= form.hidden_field :year, value: @year %>
  </div>

  <div class="field">
    <%= form.hidden_field :genre, value: @genre %>
  </div>

  <div class="field">
    <%= form.hidden_field :plot, value: @plot %>
  </div>

  <div class="field">
    <%= form.hidden_field :poster, value: @poster %>
  </div>

  <div class="field">
    <%= form.hidden_field :rotten, value: @rotten_value %>
  </div>

  <div class="field">
    <%= form.hidden_field :imdb, value: @imdb_value %>
  </div>

  <div class="field">
    <%= form.hidden_field :website, value: @website %>
  </div>

  <div class="actions">
    <%= form.submit "Add" %>
  </div>
<% end %>
